@import "./variables.scss";

html,
body {
    max-width: 100%;
}

body {
    .wrapper {
        margin: auto;
        width: 96%;
    }

    * {
        font-family: $VarelaRound;
    }

    @import "./headings.scss";

    @import "./notFound.scss";

    @import "./nav.scss";

    @import "./header.scss";

    @import "./main.scss";

    @import "./footer.scss";
}