html,
body {
  max-width: 100%;
}

body .wrapper {
  margin: auto;
  width: 96%;
}

body * {
  font-family: "Varela Round";
}

body .headings {
  padding-top: 10% !important;
  padding-bottom: 5% !important;
  text-align: center;
  font-weight: bolder;
}

body .navbar {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: white !important;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

body .navbar a {
  font-size: 1.2rem;
  color: #32035F !important;
  font-weight: normal;
}

body .navbar a:focus {
  text-decoration: underline;
}

body .navbar a:hover {
  text-decoration: underline;
  font-weight: bold;
}

body .navbar form {
  margin-left: 33%;
}

body .navbar form input:focus {
  border-color: #32035F;
}

body .navbar form button {
  background-color: #32035F;
  color: white;
  border-color: #32035F !important;
}

body .navbar form button:hover {
  background-color: white;
  color: #32035F;
}

body header {
  position: relative;
  background: #32035F;
  height: 50vh;
  color: white !important;
  text-align: center;
}

body header h1 {
  padding-top: 5% !important;
  padding-bottom: 2% !important;
  font-family: "Monoton";
}

body header .carousel-inner {
  margin-top: 2%;
  padding-bottom: 5% !important;
}

body header::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 30px;
  background-size: 30px 100%;
  background-image: linear-gradient(135deg, #32035F 25%, transparent 25%), linear-gradient(225deg, #32035F 25%, transparent 25%);
  background-position: 0 0;
}

body main {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  padding-bottom: 5%;
}

body main .card {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

body main .card a {
  color: #4D0392;
}

body main .card .list-group-item {
  font-size: 0.7em;
  color: #C1B3CE;
}

body main .card .list-group-item span {
  color: #32035F;
  font-weight: bold;
}

body main .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .pagination li .active {
  background-color: #32035F !important;
}

body main .pagination li a {
  color: #32035F !important;
}

body main .see-all-btn {
  color: #32035F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: larger;
}

body main .see-all-btn:focus {
  text-decoration: underline;
}

body footer {
  margin-top: 10%;
  background-color: #32035F;
  color: white;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

body footer form {
  margin-right: 4%;
  margin-bottom: 5%;
}

body footer form button {
  background-color: #32035F !important;
  color: white;
  border-color: white !important;
}

body footer form button:hover {
  background-color: white !important;
  color: #32035F !important;
}

body footer .footer-headings {
  padding-top: 50px;
  padding-bottom: 20px;
  text-decoration: underline;
}

body footer .footer-headings span {
  margin-left: 4%;
}

body footer #lower-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black;
  text-align: center;
}

body footer #lower-footer a {
  color: #C1B3CE !important;
}

body footer .list-group-item {
  background-color: #32035F;
}

body footer .list-group-item a {
  color: white;
}
/*# sourceMappingURL=App.css.map */