$purple-900: #32035F;
$purple-500: #4D0392;
$purple-100: #C1B3CE;
$Righteous: "Righteous";
$Monoton: "Monoton";
$VarelaRound: "Varela Round";

html,
body {
    max-width: 100%;
}

body {
    .wrapper {
        margin: auto;
        width: 98%;
    }

    * {
        font-family: $VarelaRound;
    }

    // All headings have this style
    .headings {
        padding-top: 10% !important;
        padding-bottom: 10% !important;
        text-align: center;
    }

    // h1,
    // h2,
    // h3,
    // h4,
    // h5,
    // h6 {
    //     font-family: $PMarker;
    // }

    @import "./nav.scss";

    @import "./header.scss";
}