.modal {
    .modal-content {
        background-color: $bg-purple;

        a {
            color: $purple-900;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        input {
            &:focus {
                border-color: $purple-900;
                box-shadow: none;
            }
        }

        textarea {
            &:focus {
                border-color: $purple-900;
                box-shadow: none;
            }
        }

        select {
            option {

                &:focus {
                    background-color: $purple-900;
                }
            }


            &:focus {
                border-color: $purple-900;
                box-shadow: none;
            }
        }
    }

    .modal-title {
        color: $purple-900;
    }

    button{
        color: white;
        background-color: $purple-900;
        border-color: $purple-900;

        &:hover{
            color: $purple-900;
            background-color: $bg-purple;
        }
    }
}