.navbar {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

    a {
        font-size: 1.2rem;
        color: $purple-900 !important;
        font-weight: normal;
        cursor: pointer;

        &:focus {
            text-decoration: underline;
        }

        &:hover {
            text-decoration: underline !important;
            font-weight: bold;
        }
    }

    .navbar-nav {
        margin-left: 45%;

        a {
            margin-top: 2%;
            padding-top: 0;
            padding-left: 15%;
        }

        .dropdown {
            padding-left: 15%;
            padding-top: 1.2%;
        }
    }

    form {
        margin-left: 33%;

        input {
            &:focus {
                border-color: $purple-900;
            }
        }

        button {
            background-color: $purple-900;
            color: white;
            border-color: $purple-900 !important;
            margin-left: -16%;

            &:hover {
                background-color: white;
                color: $purple-900;
            }

        }
    }
}